plugins/core/
web-app/WEB-INF/
.idea/
target/
*.iml
*.ipr
*.iws
*.ids
security.properties
*.log
trustdb.gpg
zuul-data/.settings/
zuul-web/.settings/
.settings/
*.classpath
*.project
src/main/resources/git.properties
