body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* ------------ Start Bootstrap Fixes ---------------- */
.pagination ul > li > a,
.pagination ul > li > span {
  padding: 4px 12px;
  line-height: 20px;
}


.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
}

.popover {
    z-index: 12000; /* see https://github.com/twitter/bootstrap/issues/383 */
}
/* ------------ End Bootstrap Fixes ---------------- */

/* ------------ Start Bootstrap Extensions ------------------- */
input.error {
    color: #b94a48;
    border-color: #b94a48;
}

input.error:hover {
    color: #b94a48;
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input.error:focus {
border-color: #953b39;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
/* ------------ Start Bootstrap Extensions ------------------- */



.label {
    margin-right: 10px;
}

.label a {
    color: white;
    text-decoration: none;
}

.discoverable {
    visibility: hidden;
}

tr:hover .discoverable {
    visibility: visible;
}

tr .discoverable  {
    visibility: hidden;
}

.sidebar-nav {
    padding: 9px 0;
}

.modal {
    display: none;
}

.centered {
    text-align: center;
}

.section-header {
    margin-bottom: 0.5em;
}

.stacked {
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    text-align: center;
}

footer ul {
    list-style: none outside none;
}

footer li {
    display: inline;
    padding-right: 20px;
}