body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* ------------ Bootstrap Fixes ------------------- */

.popover-content p {
    font-size: 14px !important;
    white-space: normal !important;
}


/* ------------ Start Bootstrap Extensions ------------------- */
input.error {
    color: #b94a48;
    border-color: #b94a48;
}

input.error:hover {
    color: #b94a48;
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input.error:focus {
border-color: #953b39;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

textarea.code, input.code {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
}

.modal-wide {
    width: 750px;
    margin-left: -375px;
}

/* ------------ Stop Bootstrap Extensions ------------------- */


.label {
    margin-right: 10px;
}

.label a {
    color: white;
    text-decoration: none;
}

.discoverable {
    visibility: hidden;
}

th.sorted.asc {
    background: #d9edf7 url("../images/icons/sort_asc.png") no-repeat center right;
}

th.sorted.desc {
    background: #d9edf7 url("../images/icons/sort_desc.png") no-repeat center right;
}

tr:hover .discoverable {
    visibility: visible;
}

tr .discoverable  {
    visibility: hidden;
}

.sidebar-nav {
    padding: 9px 0;
}

.modal {
    display: none;
}

.centered {
    text-align: center;
}

.section-header {
    margin-bottom: 0.5em;
}

.stacked {
    margin-top: 1em;
    margin-bottom: 1em;
}

.ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.help {
    cursor: pointer;
}

footer {
    text-align: center;
}

footer ul {
    list-style: none outside none;
}

footer li {
    display: inline;
    padding-right: 20px;
}